project/yocto-buildir/cache
project/yocto-buildir/downloads
project/yocto-buildir/sstate-cache
project/yocto-buildir/tmp-glibc
project/yocto-buildir/bitbake-cookerdaemon.log
project/yocto-buildir/bitbake.lock
project/yocto-layers/meta-openembedded
project/yocto-layers/poky
project/yocto-layers/meta-gooeygui
project/yocto-layers/meta-gplv2
project/yocto-layers/meta-raspberrypi
project/yocto-layers/meta-virtualization
project/yocto-buildir/pn-buildlist
project/yocto-buildir/task-depends.dot
project/yocto-buildir/tmp/
project/yocto-buildir/workspace
.vscode
scripts/startTest.sh
docs/make.bat
docs/build/doctrees/
